# Compiled class file
*.class

# Dolphin fájljai
*.directory

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# (ne ignorálja a .jar-t a Darcula LAF miatt!)
# *.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#not working ignore:
build/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
